<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hero.league.mapper.UsersMapper">

    <select id="list" resultType="com.hero.league.entity.Users">
        select * from users
    </select>
    <select id="selectByNamePass" resultType="com.hero.league.entity.Users">
        select
            *
        from
            users
        where user_account = #{userAccount} and user_password = #{userPassword} and is_delete = 0;
    </select>

    <select id="getUserByUsername" resultType="com.hero.league.entity.Users">
        select
            *
        from
            users
        where user_account = #{username} and is_delete = 0;
    </select>
</mapper>