<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hero.league.mapper.UsersMapper">

    <resultMap type="com.hero.league.entity.Users" id="UsersResult">
        <result property="ID" column="ID"/>
        <result property="userName" column="userName"/>
        <result property="userAccount" column="userAccount"/>
        <result property="avatarUrl" column="avatarUrl"/>
        <result property="gender" column="gender"/>
        <result property="userPassword" column="userPassword"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="userStatus" column="userStatus"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
        <result property="userRole" column="isDelete"/>
    </resultMap>
    <select id="list" resultType="com.hero.league.entity.Users">
        select * from users
    </select>
    <select id="selectByNamePass" resultType="com.hero.league.entity.Users">
        select Id,userName,userAccount,avatarUrl,gender,userPassword,phone,email,userStatus,createTime,updateTime,isDelete,isDelete
        from users where userAccount = #{userAccount} and userPassword = #{userPassword} and isDelete = 1;
    </select>

    <select id="getUserByUsername" resultType="com.hero.league.entity.Users">
        select
            *
        from
            users
        where userAccount = #{username} and isDelete = 1;
    </select>
</mapper>